@model EventPass1.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIngressos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalIngressos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>


    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdEvento">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
